@use '../abstracts/' as *;

/* Typography*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');

html {
	font-size: 112.5%;
} /*18px*/

body {
	width: 100%;
	min-height: 100vh;
	background: white;
	font-family: $bodyFont;
	font-weight: 300;
	line-height: 1.75;
	color: #000000;
	@include grid(center);
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-family: $headingFont;
	font-weight: 900;
	line-height: 1.3;
	text-transform: uppercase;
}

h1 {
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}
