@use '../abstracts' as *;
/* buttons */
.btn {
	cursor: pointer;
	font-family: $headingFont;
	font-size: 20px;
	font-weight: $extraBold;
	height: 4.5rem;
	padding: $padding $padding * 2;
	@include flex(row, space-between, center);
	justify-self: start;
	text-decoration: none;
	border: none;
	letter-spacing: 3.64px;
	text-transform: uppercase;
	box-shadow: $shadow-1;
	transition: $transition-5;
	color: $white;
	background-color: $blackColor;

	&:hover {
		background: $accentColor;
		box-shadow: $shadow-3;
	}

	.arrow {
		background-color: $accentColor;
		color: #fff;
		transition: $transition-5;
		margin-left: 0.25rem;
	}

	&:hover {
		.arrow {
			background-color: #000;
		}
	}
	&-block {
		width: 100%;
	} /*block class is good with forms*/
}
