@use '../abstracts' as *;
@use 'sass:math';
/* buttons */
.btn {
	cursor: pointer;
	font-family: $headingFont;
	font-size: 20px;
	font-weight: $extraBold;
	height: 4.5rem;
	@include flex(row, flex-start, center);
	justify-self: start;
	gap: math.div($gap, 2);
	text-decoration: none;
	border: none;
	letter-spacing: 3.64px;
	text-transform: uppercase;
	box-shadow: $shadow-1;
	transition: $transition-5;
	color: $white;
	background-color: $blackColor;

	&:hover {
		background: $accentColor;
		box-shadow: $shadow-3;
	}
	.link {
		text-decoration: none;
		color: $white;
	}

	.arrow {

		background-color: $accentColor;
		color: #fff;
		transition: $transition-5;
		height: 100%;
		width: 3.5rem;
	}

	&:hover {
		.arrow {
			background-color: #000;
		}
	}
	&-block {
		width: 100%;
	} /*block class is good with forms*/
}
