@use '../abstracts' as *;

.section {
	@include grid(center);
	gap: $gap * 1.5;

	&-one {

		.section-body {
			@include grid(center);
			gap: $gap * 1.25;
			justify-items: start;

			h2 {
				font-size: 3.125rem;
				line-height: 2.81rem;
				text-transform: uppercase;
			}
			p {
				font-size: 1.125rem;
				line-height: 1.75rem;
			}
		}
	}
	&-two {
		.section-body {
			@include grid(center);
			gap: $gap * 1.25;

			&-body {
				background-color: $blackColor;
				color: $white;
				padding-inline: $padding * 1.5;
				padding-block: $padding * 3;
				@include grid(center);
				justify-items: start;
				gap: $gap * 1.5;

				h2 {
					font-size: 3.125rem;
					line-height: 2.81rem;
					text-transform: uppercase;
				}

				p {
					font-size: 1.125rem;
					line-height: 1.75rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.section {
		&-one {
			max-width: 689px;
			max-height: 400px;
			gap: 4rem;
			@include flex(row-reverse, space-between, center);
			.section-body {
				width: 223px;
			}
		}
	}
}
@media (min-width: 1440px) {
	.section {
		&-one {
			max-width: 1109px;
			gap: 7.8rem;
			@include flex(row-reverse, space-between, center);
			.section-header {
				width: 635px;
			}
			.section-body {
				width: 350px;
			}
		}
	}
}
