@use '../abstracts' as *;

.section {
	@include grid(center);
	gap: $gap * 1.5;

	&-one {
		.section-body {
			@include grid(center);
			gap: $gap * 1.25;
			justify-items: start;

			h2 {
				font-size: 3.125rem;
				line-height: 2.81rem;
				text-transform: uppercase;
			}
			p {
				font-size: 1.125rem;
				line-height: 1.75rem;
			}
		}
	}
	&-two {
		.section-body {
			@include grid(center);
			gap: $gap * 1.25;

			&-body {
				background-color: $blackColor;
				color: $white;
				padding-inline: $padding * 1.5;
				padding-block: $padding * 3;
				@include grid(center);
				justify-items: start;
				gap: $gap * 1.5;

				h2 {
					font-size: 3.125rem;
					line-height: 2.81rem;
					text-transform: uppercase;
				}

				p {
					font-size: 1.125rem;
					line-height: 1.75rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.section {
		&-one {
			@include flex(row-reverse,space-between,center);
			.section-body{
				width: 400px;
			}
		}
	}
}
