@use '../abstracts' as *;

.footer {
	width: 100%;
	min-height: 336px;
	padding-block: $padding * 2;
	padding-inline: $padding * 3;
	display: grid;
	justify-items: start;
	grid-template-columns: 1fr;
	gap: $gap * 2.375;
	color: $white;

	&-home {
		background-color: $blackColor;
	}
	&-location {
		background-color: $accentColor;
		color: $blackColor;

		.footer-social-media {
			.link {
				color: $blackColor;
				&:hover {
					color: $white;
				}
			}
		}
	}

	h3 {
		font-size: 40px;
		text-transform: uppercase;
	}
	p {
		font-size: 1.125rem;
		line-height: 1.75rem;
		width: 17.5rem;
	}

	&-social-media {
		@include flex(row, space-between, center);
		gap: $gap * 1.25;
		align-self: start;

		.link {
			cursor: pointer;
			font-size: 1.25rem;
			color: $white;
			transition: $transition-5;

			&:hover {
				color: $accentColor;
			}
		}
	}
}

@media (min-width: 768px) {
	.footer {
		height: 216px;
		grid-template-columns: repeat(3, 1fr);

		&-social-media {
			justify-self: end;
		}
	}
}
@media (min-width: 1440px) {
	.footer {
		height: 244px;

		p {
			max-width: 430px;
		}
	}
}
