@use '../abstracts' as *;

.header {
	@include grid(center);
	grid-template-columns: 1fr;
	border: 2px dashed red;
	max-height: 44.45rem;
	position: relative;
	gap: 1.8rem;
}

@media (min-width: 768px) {
	.header {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1440px) {
	.header {
		grid-template-columns: repeat(3, 1fr);

		&::before {
			content: '';
			width: 450px;
			height: 100%;
			position: absolute;
			left: 0;
			background-color: #000;
			z-index: 1;
		}
	}
}
